.header {
    width: 100%;
    height: 300px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('back2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

details {
    font-family: Arial, sans-serif;
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto;
}

summary {
    font-weight: bold;
    cursor: pointer;
    font-size: 40px;
    font-style: italic;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}
.video-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

video {
    max-width: 100%;
}
body
{
    background-color: bisque;
}
h1
{
    font-size: 100px;
    font-style: italic;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
   padding: 20px;
}

input[type="button"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: antiquewhite;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="button"]:hover {
    background-color: #45a049;
}
