/* 
    Author: Vijay Thapa;
    Theme: Restaurant Food Order;
    version: 1.0;
*/

/* CSS for All */
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
}

.clearfix{
    clear: both;
    float: none;
}

a{
    color: #FF8E00;
    text-decoration: none;
}
a:hover{
    color: #FF8E00;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #FF8E00;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #FF8E00;
}
h2{
    color: #002347;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}


/* CSSS for navbar section */

.logo{
    width: 10%;
    float: left;
}
.menu{
    line-height: 60px;
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}


/* CSS for Food SEarch Section */

.food-search{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}


/* CSS for Categories */
.categories{
    padding: 4% 0;
}

.box-3{
    width: 28%;
    float: left;
    margin: 2%;
}


/* CSS for Food Menu */
.food-menu{
    background-color: #ececec;
    padding: 4% 0;
}
.food-menu-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.food-menu-img{
    width: 20%;
    float: left;
}

.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}

.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color: #002347;
}


/* CSS for Social */
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}

/* for Order Section */
.order{
    width: 50%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}



/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px){
    .logo{
        width: 80%;
        float: none;
        margin: 1% auto;
    }

    .menu ul{
        text-align: center;
    }

    .food-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }

    .btn{
        width: 91%;
        padding: 2%;
    }

    .food-search{
        padding: 10% 0;
    }

    .categories{
        padding: 20% 0;
    }
    h2{
        margin-bottom: 10%;
    }
    .box-3{
        width: 100%;
        margin: 4% auto;
    }

    .food-menu{
        padding: 20% 0;
    }

    .food-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social{
        padding: 5% 0;
    }
    .order{
        width: 100%;
    }
}
.u-section-1 {
    background-image: none;
    min-height: 708px;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 72px;
    margin-bottom: 8px;
  }
  
  .u-section-1 .u-image-1 {
    min-height: 628px;
    background-image: url("images/pexelsphoto2641886.jpeg");
    background-position: 50% 100%;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-1 .u-layout-cell-2 {
    min-height: 704px;
    background-image: none;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 30px 26px;
  }
  
  .u-section-1 .u-group-1 {
    width: 482px;
    min-height: 590px;
    height: auto;
    margin: 0 auto;
  }
  
  .u-section-1 .u-container-layout-3 {
    padding: 20px 0;
  }
  
  .u-section-1 .u-text-1 {
    font-weight: 700;
    font-size: 1.875rem;
    margin: 0 auto;
  }
  
  .u-section-1 .u-form-1 {
    height: 351px;
    background-image: none;
    margin: 20px 20px 0;
  }
  
  .u-section-1 .u-input-1 {
    background-image: none;
  }
  
  .u-section-1 .u-input-2 {
    background-image: none;
  }
  
  .u-section-1 .u-btn-1 {
    background-image: none;
    border-style: none;
    width: 100%;
    padding: 10px 0;
  }
  
  .u-section-1 .u-btn-2 {
    border-style: none;
    margin: 13px auto 0;
    padding: 0;
  }
  
  .u-section-1 .u-btn-3 {
    align-self: center;
    border-style: none;
    margin: 20px auto 0;
    padding: 0;
  }
  
  .u-section-1 .u-icon-1 {
    height: 64px;
    width: 64px;
    margin: -555px auto 0 0;
  }
  
  .u-section-1 .u-icon-2 {
    height: 64px;
    width: 64px;
    margin: 456px 1px 0 auto;
  }
  
  .u-section-1 .u-icon-3 {
    height: 64px;
    width: 64px;
    margin: -61px auto 11px 16px;
  }
  
  @media (max-width: 1199px) {
     .u-section-1 {
      min-height: 468px;
    }
  
    .u-section-1 .u-image-1 {
      min-height: 518px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 580px;
    }
  
    .u-section-1 .u-group-1 {
      width: 480px;
      height: auto;
    }
  
    .u-section-1 .u-form-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-btn-2 {
      align-self: center;
    }
  
    .u-section-1 .u-icon-1 {
      margin-top: 20px;
    }
  }
  
  @media (max-width: 991px) {
     .u-section-1 {
      min-height: 329px;
    }
  
    .u-section-1 .u-image-1 {
      min-height: 397px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-1 .u-group-1 {
      width: 355px;
    }
  }
  
  @media (max-width: 767px) {
     .u-section-1 {
      min-height: 657px;
    }
  
    .u-section-1 .u-image-1 {
      min-height: 596px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-icon-1 {
      margin-top: -555px;
    }
  }
  
  @media (max-width: 575px) {
     .u-section-1 {
      min-height: 404px;
    }
  
    .u-section-1 .u-image-1 {
      min-height: 375px;
    }
  
    .u-section-1 .u-group-1 {
      width: 320px;
    }
  }